<div class="page-heading">
  <div class="page-content fade-in-up">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-head">
            <div class="ibox-title">Usuário</div>
          </div>
          <div class="ibox-body">
            <form class="needs-validation" [formGroup]="formMain">
              <div class="row">
                <div class="form-group col-md-2">
                  <label for="id">Código :</label>
                  <input readonly type="text" formControlName="id" class="form-control" id="id" />
                </div>
                <div class="form-group col-md-10">
                  <label for="name">Nome :</label>
                  <input type="text" id="name" maxlength="100" formControlName="name" class="form-control" [ngClass]="{
                      'is-invalid': submitted && formMain.controls.name.invalid }" />
                  <div class="invalid-feedback">
                    Você precisa informar a descrição (5 a 100 caracteres).
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="email">Email :</label>
                  <input type="email" formControlName="email" class="form-control" id="email" />
                </div>
                <div class="form-group col-md-3">
                  <label for="is_active">Ativo :</label>
                  <select id="is_active" formControlName="is_active" class="form-control">
                    <option *ngFor="let yesNo of config.yesNo" [ngValue]="yesNo.id" [selected]="yesNo.id === is_active">
                      {{yesNo.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="user_type">Nivel :</label>
                  <select id="user_type" formControlName="user_type" class="form-control">
                    <option *ngFor="let nivel of config.userNivel" [ngValue]="nivel.id"
                      [selected]="nivel.id === user_type">
                      {{nivel.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="user_group_id">Grupo :</label>
                  <select id="user_group_id" formControlName="user_group_id" class="form-control">
                    <option *ngFor="let group of userGroups" [ngValue]="group.id"
                      [selected]="group.id === user_group_id">
                      {{group.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="login">Login :</label>
                  <input type="text" formControlName="login" class="form-control" id="login" />
                </div>
                <div class="form-group col-md-4">
                  <label for="password">Senha :</label>
                  <input type="text" formControlName="password" class="form-control" id="password" />
                </div>
                <div class="form-group col-md-4">
                  <label for="confirm">Confirma :</label>
                  <input type="text" formControlName="confirm" class="form-control" id="confirm" />
                </div>
              </div>
              <div class="text-right">
                <button *ngIf="Inserting === false" type="button" class="btn btn-primary" (click)="onNew()">
                  <i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp; Novo
                </button>
                {{ "" }}
                <button type="button" class="btn btn-primary" (click)="onSubmit()">
                  <i class="fa fa-save fa-lg" aria-hidden="true"></i>&nbsp; Gravar
                </button>
                {{ "" }}
                <button type="button" class="btn btn-primary" (click)="onClose()">
                  <i class="fa fa-close fa-lg" aria-hidden="true"></i>&nbsp; Fechar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
