<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTPS} !on
      RewriteRule (.) https://%{HTTP_HOST}%{REQUEST_URI}

    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d

    RewriteRule ^.$ - [NC,L]
    RewriteRule ^(.*) index.html [NC,L]
</IfModule>
